@font-face {
    font-family: 'GothamPro-Bold';
    src: url('../Fonts/GothamPro-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-Light';
    src: url('../Fonts/GothamPro-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-LightItalic';
    src: url('../Fonts/GothamPro-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    box-sizing: border-box;
    line-height: 1.42;
}

h1,
h2,
h3,
h4,
h5,
p {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*HEADER*/

.wrapper {
    position: relative;
    overflow: hidden;
    min-width: 1100px;
    min-height: 100%;
}

.wrapper:after {
    content: "";
    display: block;
    height: 77px;
}

.header {
    background-color: #27273e;
}

.conteiner {
    margin: 0 auto;
    width: 1060px;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.header__top {
    padding: 12px 0;
}

.header__left {
    float: left;
    width: 50%;
}

.header__right {
    float: right;
    width: 50%;
    text-align: right;
    padding-top: 9px;
    line-height: 20px;
}

.logo {
    display: inline-block;
}

.phone {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 6px;
}

.schudle__text {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #ec1e79;
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
    opacity: 0.8;
    transition: .4s;
    display: inline-block;
    cursor: pointer;
}

.schudle:hover .schudle__text {
    color: rgba(93, 209, 248, 0.7);
    transition: .4s;
}

.schudle__wrap {
    position: relative;
    text-align: right;
}

.schudle {
    display: inline-block;
    text-align: right;
    position: relative;
}

.drop-wrap {
    position: absolute;
    top: 70%;
    z-index: 10;
    margin-top: 20px;
    right: -9999px;
}

.schudle:hover .drop-wrap {
    right: 0;
}

.drop-wrap::before {
    content: '';
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 100%;
    left: 0;
    display: block;
}

.drop__item {
    margin-bottom: 5px;
    text-align: center;
}

.drop__item_days {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: #ec1e79;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}

.drop__item_dinner {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: #221f1f;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    text-indent: -18px;
}

.drop {
    position: relative;
    background: -webkit-linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
    background: -moz-linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
    background: -o-linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
    background: -ms-linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
    background: linear-gradient(0deg, #ffffff 0%, #ffffff 100%);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    text-align: center;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-radius: 0px;
    position: absolute;
    bottom: 100%;
    right: 0%;
}

.drop__list {
    min-width: 164px;
    padding: 18px 11px 18px 11px;
}

.main-content {
    margin-bottom: 74px;
    margin-top: 72px;
}

/*sidebar*/

.sidebar,
.content {
    float: left;
}

.sidebar {
    width: 160px;
    margin-right: 20px;
}

.content {
    width: 880px;
}

.navigation__list {
    width: 100px;
}

.navigation__item {
    margin-bottom: 38px;
    line-height: 20px;
}

.navigation__link {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #ec1e79;
    text-transform: uppercase;
    padding-left: 40px;
    display: block;
}

.navigation__link--icon {
    background-repeat: no-repeat;
    background-image: url(../img/css_sprites.png);
}

.navigation__link--main-icon {
    background-position: -10px -45px;
}

.navigation__link--main-icon:hover {
    background-position: -10px -10px;
    color: #000;
}

.navigation__link--feed-icon {
    background-position: -10px -190px;
}

.navigation__link--wallet-icon {
    background-position: -10px -116px;
}

.navigation__link--wallet-icon:hover {
    background-position: -10px -80px;
    color: #000;
}

.navigation__item_activ .navigation__link--feed-icon {
    color: #000;
    text-decoration: underline;
    background-position: -10px -152px;
}

/*breadcrumbs*/

.breadcrumbs {
    margin-top: -7px;
    margin-bottom: 20px;
}

.breadcrumbs__item {
    display: inline-block;
}

.breadcrumbs__item-link {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: #ec1e79;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    text-decoration: underline;
}

.breadcrumbs__item::after {
    content: " /";
    color: #a2a2a2;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.breadcrumbs__item-link_active {
    color: #a2a2a2;
    text-decoration: none;
}

/*ASIDE*/

.title {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: #221f1f;
    font-size: 49px;
    font-weight: 700;
    padding-bottom: 64px;
    margin-top: -15px;
}

.content {
    width: 880px;
}

.last-news__title {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: #221f1f;
    font-size: 49px;
    font-weight: 700;
    margin-bottom: 45px;
}

/*NEWS*/

.news__avatar,
.news__content {
    float: left;
}

.news__content {
    width: 700px;
}

.news__content {
    margin-left: 20px;
}

.last-news__item {
    border-bottom: 2px solid #f5f5f5;
    margin-bottom: 30px;
    padding-bottom: 25px;
}

.last-news__item:last-child {
    border: none;
    margin-bottom: 50px;
}

.news__img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.news__date {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #656464;
    line-height: 21px;
    padding-bottom: 5px;
}

.news__title {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #221f1f;
    line-height: 21px;
    padding-bottom: 5px;
}

.news__description {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #221f1f;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.pagination {
    text-align: center;
    margin-bottom: 74px;
}

.pagination__info,
.pagination__btns,
.pagination__btn,
.pagination__list,
.pagination__item {
    display: inline-block;
}

.pagination__info {
    margin-right: 13px;
}

.pagination__btn_icon_prev {
    margin-right: 15px;
}

.pagination__btn_icon_next {
    margin-left: 10px;
}

.pagination__info {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #656464;
    font-size: 14px;
    font-weight: 300;
}

.pagination__link,
.pagination__item,
.pagination__list {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #221f1f;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}

.pagination__btn {
    width: 6px;
    height: 10px;
}

.pagination__link {
    border-radius: 3px;
    padding: 5px 10px;
    display: inline-block;
}

.pagination__link__active {
    background-color: #27273e;
    color: #ec1e79;
}

.pagination__item:hover .pagination__link {
    color: #ec1e79;
}

.pagination__btn_icon_prev {
    background-image: url(../img/back-arrow.jpg);
}

.pagination__btn_icon_next {
    background-image: url(../img/next.jpg);
}

.background {
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    min-width: 1100px;
    margin-bottom: 57px;
    color: #ffffff;
    padding: 48px 0 48px 0;
    line-height: 30px
}

.background__text {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0 auto;
    max-width: 620px;
}

.background__text_color {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: #ec1e79;
    font-size: 18px;
    font-weight: 700;
}

/*FORM*/

.feedback {
    margin-bottom: 50px;
}

.form {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: #221f1f;
    font-size: 14px;
    font-weight: 300;
}

.feedback__form {
    width: 700px;
    margin: 0 auto;
    background-color: #f5f5f5;
    border-radius: 3px;
}

.form__content {
    width: 560px;
    margin: 0 auto;
    padding: 50px 0;
}

.form__title {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: #221f1f;
    font-size: 49px;
    font-weight: 700;
    margin-bottom: 10px;
}

.fieldset {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
}

.fieldset__info {
    width: 560px;
    font-size: 0;
    margin-bottom: 20px;
}

.fieldset-name,
.fieldset-vk {
    display: inline-block;
    color: #221f1f;
    font-size: 14px;
    font-weight: 300;
}

.fieldset-name {
    margin-right: 20px;
}

.name,
.vk {
    display: block;
    height: 46px;
    border: none;
    width: 270px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 3px;
    padding: 15px 0 15px 10px;
    box-sizing: border-box;
    margin-top: 10px;
}

.fieldset__textarea {
    display: block;
    margin-bottom: 20px;
}

.comment {
    width: 560px;
    height: 88px;
    padding: 10px 0 0 10px;
    margin-top: 10px;
    border-radius: 3px;
    border: none;
    resize: none;
    box-sizing: border-box;
}

.vk,
.name,
.comment {
    outline: none;
}

.comment:focus {
    border: 1px solid #ec1e79;
}

.vk:focus {
    border: 1px solid #ec1e79;
}

.name:focus {
    border: 1px solid #ec1e79;
}

.label__question {
    float: left;
}

.btn__radio {
    margin-top: 10px;
}

.btn__submit {
    float: right;
    border-radius: 3px;
    border: none;
    background-color: #27273e;
    color: #ffffff;
    padding: 19px 22px 19px 22px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    cursor: pointer;
}

.btn__submit:hover {
    background-color: #ec1e79;
}

.radio__yes,
.radio__no {
    display: none;
}

.btn__radio_yes,
.btn__radio_no {
    display: inline-block;
}

.style__radio {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ec1e79;
    margin-right: 5px;
    position: relative;
}

.text__radio {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.radio__yes[type=radio]+.style__radio {
    border-radius: 50%;
}

.style__radio::before {
    content: "";
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 6px;
    right: 6px;
    background-color: #ec1e79;
    border-radius: 50%;
    transform: scale(0);
}

.btn__radio_yes::before {
    content: "";
    color: #ec1e79;
}

.radio__yes[type=radio]+.style__radio::before {
    border-radius: 50%;
}

.radio__yes:checked+.style__radio::before {
    transform: scale(1);
}

/*FOOTER*/

.footer {
    background-color: #27273e;
    position: relative;
    height: 77px;
    margin-top: -77px;
    padding: 12px 0;
    box-sizing: border-box;
}

.footer__copyright,
.footer__logo {
    width: 33.3%;
    float: left;
}

.footer__socials {
    width: 33.3%;
    float: right;
}

.footer__logo {
    text-align: center;
}

.footer__socials {
    text-align: right;
}

.socials {
    display: inline-block;
    line-height: 17px;
}

.socials__list {
    text-align: left;
}

.social__text {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
    display: inline-block;
}

.socials__link_vk {
    background: url(../img/vk.png) no-repeat;
    background-position: center;
}

.socials__link_fb {
    background: url(../img/fb.png) no-repeat;
    background-position: center;
}

.socials__link_google {
    background: url(../img/google.png) no-repeat;
    background-position: center;
}

.socials__link_twitter {
    background: url(../img/twitter.png) no-repeat;
    background-position: center;
}

.socials__link_mail {
    background: url(../img/mail.png) no-repeat;
    background-position: center;
}

.socials__link:hover {
    background-color: #ec1e79;
}

.socials__link {
    border-radius: 50%;
    background-color: #d4d4d8;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    display: inline-block;
}

.socials__item {
    display: inline-block;
}

.copyright {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    width: 264px;
}

.copyright__link {
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}