@font-face {
    font-family: 'GothamPro-Bold';
    src: url('../Fonts/GothamPro-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-Light';
    src: url('../Fonts/GothamPro-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-LightItalic';
    src: url('../Fonts/GothamPro-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    box-sizing: border-box;
    line-height: 1.42;
}

h1,
h2,
h3,
h4,
h5,
p {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*HEADER*/

.wrapper {
    position: relative;
    overflow: hidden;
    min-width: 1100px;
    min-height: 100%;
}

.wrapper:after {
    content: "";
    display: block;
    height: 77px;
}

.header {
    background-color: #27273e;
}

.conteiner {
    margin: 0 auto;
    width: 1060px;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.header__top {
    padding-top: 12px;
}

.header__left {
    float: left;
    width: 50%;
    display: block;
}

.header__right {
    float: right;
    width: 50%;
    text-align: right;
    padding-top: 9px;
    line-height: 20px;
}

.banner__img {
    display: block;
}

.logo {
    display: inline-block;
}

.phone {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 6px;
}

.schudle__text {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #ec1e79;
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
    opacity: 0.8;
    transition: .4s;
    display: inline-block;
    cursor: pointer;
}

.schudle:hover .schudle__text {
    color: rgba(93, 209, 248, 0.7);
    transition: .4s;
}

.schudle__wrap {
    position: relative;
    text-align: right;
}

.schudle {
    display: inline-block;
    text-align: right;
    position: relative;
}

.drop-wrap {
    position: absolute;
    top: 70%;
    z-index: 10;
    margin-top: 20px;
    right: -9999px;
}

.schudle:hover .drop-wrap {
    right: 0;
}

.drop-wrap::before {
    content: '';
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 100%;
    left: 0;
    display: block;
}

.drop__item {
    margin-bottom: 5px;
    text-align: center;
}

.drop__item_days {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: #ec1e79;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}

.drop__item_dinner {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: #221f1f;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    text-indent: -18px;
}

.drop {
    position: relative;
    background: -webkit-linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
    background: -moz-linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
    background: -o-linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
    background: -ms-linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
    background: linear-gradient(0deg, #ffffff 0%, #ffffff 100%);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    text-align: center;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-radius: 0px;
    position: absolute;
    bottom: 100%;
    right: 0%;
}

.drop__list {
    min-width: 164px;
    padding: 18px 11px 18px 11px;
}

.main-content {
    margin-bottom: 74px;
    margin-top: 72px;
}

/*NAVIGATION*/

.sidebar,
.content {
    float: left;
}

.sidebar {
    width: 160px;
    margin-right: 20px;
}

.content {
    width: 880px;
}

.navigation__item {
    margin-bottom: 38px;
    line-height: 20px;
}

.navigation__list {
    width: 100px;
}

.navigation__link {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #ec1e79;
    text-transform: uppercase;
    padding-left: 40px;
    display: block;
}

.navigation__link--icon {
    background-repeat: no-repeat;
    background-image: url(../img/css_sprites.png);
    transition: .5s;
}

.navigation__link--main-icon {
    background-position: -10px -45px;
}

.navigation__link--feed-icon {
    background-position: -10px -190px;
}

.navigation__link--feed-icon:hover {
    background-position: -10px -152px;
    color: #000;
}

.navigation__link--wallet-icon {
    background-position: -10px -116px;
}

.navigation__link--wallet-icon:hover {
    background-position: -10px -80px;
    color: #000;
}

.navigation__item_activ .navigation__link--main-icon {
    color: #000;
    text-decoration: underline;
    background-position: -10px -10px;
}

/*ASIDE*/

.title {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: #221f1f;
    font-size: 49px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 64px;
}

.content {
    width: 880px;
}

.features {
    margin-bottom: 93px;
}

.features__list {
    font-size: 0;
    margin-left: -20px;
    display: inline-block;
    text-align: center;
}

.features__item {
    width: 250px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
}

.feature__icons {
    width: 68px;
    height: 68px;
    line-height: 68px;
    background-color: #27273e;
    border-radius: 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 29px;
}

.feature__item::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #cc3366;
    border-radius: 50%;
    margin-right: 30px;
    vertical-align: middle;
}

.feature__icons_icon_floweres {
    background-image: url(../img/flower.png);
    background-position: center;
}

.feature__icons_icon_star {
    background-image: url(../img/star.png);
    background-position: center;
}

.feature__icons_icon_palette {
    background-image: url(../img/palette.png);
    background-position: center;
}

.feature__title {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: #212121;
    font-size: 10.77px;
    font-weight: 700;
    margin-bottom: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.feature__item {
    text-align-last: left;
    text-indent: 28px;
    margin-bottom: 20px;
}

.feature__item:last-child {
    margin-bottom: 0;
}

.feature__description {
    display: inline-block;
    margin-bottom: 20px;
}

.feature__description,
.text,
.feature__item {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: #221f1f;
    font-size: 17.98px;
    font-weight: 400;
}

.title__margin_bottom {
    margin-bottom: 75px;
}

/*NEWS*/

.news__avatar,
.news__content {
    float: left;
}

.news__content {
    width: 700px;
}

.news__content {
    margin-left: 20px;
}

.last-news__item {
    border-bottom: 2px solid #f5f5f5;
    margin-bottom: 30px;
    padding-bottom: 25px;
}

.last-news__item:last-child::before {
    margin-bottom: 47px;
}

.last-news__item:last-child {
    border: none;
    margin-bottom: 50px;
}

.news__img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.news__date {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #656464;
    line-height: 21px;
    padding-bottom: 5px;
}

.news__title {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #221f1f;
    line-height: 21px;
    padding-bottom: 5px;
}

.news__description {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #221f1f;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.pagination {
    text-align: center;
}

.pagination__info,
.pagination__btns,
.pagination__btn,
.pagination__list,
.pagination__item {
    display: inline-block;
}

.pagination__info {
    margin-right: 13px;
}

.pagination__btn_icon_prev {
    margin-right: 15px;
}

.pagination__btn_icon_next {
    margin-left: 10px;
}

.pagination__info {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #656464;
    font-size: 14px;
    font-weight: 300;
}

.pagination__link,
.pagination__item,
.pagination__list {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #221f1f;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    transition: .4s;
}

.pagination__btn {
    width: 6px;
    height: 10px;
}

.pagination__link {
    border-radius: 3px;
    padding: 5px 10px;
    display: inline-block;
}

.pagination__link__active {
    background-color: #27273e;
    color: #ec1e79;
}

.pagination__item:hover .pagination__link {
    color: #ec1e79;
}

.pagination__btn_icon_prev {
    background-image: url(../img/back-arrow.jpg);
}

.pagination__btn_icon_next {
    background-image: url(../img/next.jpg);
}

/*FOOTER*/

.footer {
    background-color: #27273e;
    position: relative;
    height: 77px;
    margin-top: -77px;
    padding: 12px 0;
    box-sizing: border-box;
}

.footer__copyright,
.footer__logo {
    width: 33.3%;
    float: left;
}

.footer__socials {
    width: 33.3%;
    float: right;
}

.footer__logo {
    text-align: center;
}

.footer__socials {
    text-align: right;
}

.socials {
    display: inline-block;
    line-height: 17px;
}

.socials__list {
    text-align: left;
}

.social__text {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
    display: inline-block;
}

.socials__link_vk {
    background: url(../img/vk.png) no-repeat;
    background-position: center;
}

.socials__link_fb {
    background: url(../img/fb.png) no-repeat;
    background-position: center;
}

.socials__link_google {
    background: url(../img/google.png) no-repeat;
    background-position: center;
}

.socials__link_twitter {
    background: url(../img/twitter.png) no-repeat;
    background-position: center;
}

.socials__link_mail {
    background: url(../img/mail.png) no-repeat;
    background-position: center;
}

.socials__link:hover {
    background-color: #ec1e79;
}

.socials__link {
    border-radius: 50%;
    background-color: #d4d4d8;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    transition: .4s;
    display: inline-block;
}

.socials__item {
    display: inline-block;
}

.copyright {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    width: 264px;
}

.copyright__link {
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}