@font-face {
    font-family: 'GothamPro-Bold';
    src: url('../Fonts/GothamPro-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-Light';
    src: url('../Fonts/GothamPro-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-LightItalic';
    src: url('../Fonts/GothamPro-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    box-sizing: border-box;
    line-height: 1.42;
}

h1,
h2,
h3,
h4,
h5,
p {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*HEADER*/

.wrapper {
    position: relative;
    overflow: hidden;
    min-width: 1100px;
    min-height: 100%;
}

.wrapper:after {
    content: "";
    display: block;
    height: 77px;
}

.header {
    background-color: #27273e;
}

.conteiner {
    margin: 0 auto;
    width: 1060px;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.header__top {
    padding: 12px 0;
}

.header__left {
    float: left;
    width: 50%;
}

.header__right {
    float: right;
    width: 50%;
    text-align: right;
    padding-top: 9px;
    line-height: 20px;
}

.logo {
    display: inline-block;
}

.phone {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 6px;
}

.schudle {
    display: block;
}

.schudle__text {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #ec1e79;
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
    opacity: 0.8;
    transition: .4s;
    cursor: pointer;
    display: inline-block;
}

.schudle__text:hover {
    color: rgba(93, 209, 248, 0.7);
    transition: .4s;
}

.main-content {
    margin-bottom: 74px;
    margin-top: 72px;
}

/*sidebar*/

.sidebar,
.content {
    float: left;
}

.navigation {
    width: 160px;
    margin-right: 20px;
}

.content {
    width: 880px;
}

.navigation__item {
    margin-bottom: 38px;
}

.navigation__link {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #ec1e79;
    text-transform: uppercase;
    padding-left: 40px;
    display: block;
}

.navigation__link_color_black {
    color: #000;
    text-decoration: underline;
}

.navigation__link--icon :before {
    content: "";
    vertical-align: middle;
    margin-right: 19px;
}

.navigation__link--main-icon {
    background-image: url(../img/main_icon_pink.png);
    background-repeat: no-repeat;
    transition: .4s;
}

.navigation__link--feed-icon {
    background-image: url(../img/feed_icon_pink.png);
    height: 18px;
    background-repeat: no-repeat;
    transition: .4s;
}

.navigation__link--wallet-icon {
    background-image: url(../img/wallet_icon.png);
    background-repeat: no-repeat;
}

.navigation__link__main_active:hover,
.navagation__link--main-icon {
    color: #221f1f;
    background-image: url(../img/main_icon.png);
    background-repeat: no-repeat;
    transition: .4s;
}

.navigation__link__feed_active:hover,
.navagation__link--feed-icon {
    color: #221f1f;
    background-image: url(../img/feed_icon.png);
    background-repeat: no-repeat;
    transition: .4s;
}

/*breadcrumbs*/

.breadcrumbs {
    margin-top: -7px;
    margin-bottom: 20px;
}

.breadcrumbs__item {
    display: inline-block;
}

.breadcrumbs__item-link {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: #ec1e79;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    text-decoration: underline;
}

.breadcrumbs__item::after {
    content: " /";
    color: #a2a2a2;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.breadcrumbs__item-link_active {
    color: #a2a2a2;
    text-decoration: none;
}

/*NEWS*/

.title {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: #221f1f;
    font-size: 49px;
    font-weight: 700;
    margin-bottom: 43px;
}

.prices__list {
    font-size: 0;
    margin-left: -55px;
}

.price__title {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: #221f1f;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 10px;
    text-align: center;
}

.price__description {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: #221f1f;
    font-size: 14px;
    font-weight: 300;
    opacity: 0.8;
    line-height: 21px;
}

.prices__item {
    width: 250px;
    margin-left: 55px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-bottom: 50px;
}

.price__icon {
    width: 250px;
    height: 153px;
    margin-bottom: 26px;
}

.price__icon_one {
    background-image: url(../img/price/one.png);
}

.price__icon_three {
    background-image: url(../img/price/three.png);
}

.price__icon_ten {
    background-image: url(../img/price/10-10.png);
}

.price__icon_vip {
    background-image: url(../img/price/vip-crew.png);
}

.price__icon_all {
    background-image: url(../img/price/all.png);
}

.price__icon_conversation {
    background-image: url(../img/price/conversation.png);
}

/*PARTNERS*/

.partners__list {
    font-size: 0;
    margin-left: -110px;
}

.partners__item {
    width: 165px;
    height: 40px;
    margin-left: 110px;
    margin-bottom: 65px;
    text-align: center;
    filter: grayscale(100%);
    display: inline-block;
    transition: .4s;
}

.partners__item:hover {
    filter: grayscale(0);
}

.partners__link {
    vertical-align: middle;
}

.partners__logo {
    display: inline-block;
}

/*FOOTER*/

.footer {
    background-color: #27273e;
    position: relative;
    height: 77px;
    margin-top: -77px;
    padding: 12px 0;
    box-sizing: border-box;
}

.footer__copyright,
.footer__logo {
    width: 33.3%;
    float: left;
}

.footer__socials {
    width: 33.3%;
    float: right;
}

.footer__logo {
    text-align: center;
}

.footer__socials {
    text-align: right;
}

.socials {
    display: inline-block;
    line-height: 17px;
}

.socials__list {
    text-align: left;
}

.social__text {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
    display: inline-block;
}

.socials__link_vk {
    background: url(../img/vk.png) no-repeat;
    background-position: center;
}

.socials__link_fb {
    background: url(../img/fb.png) no-repeat;
    background-position: center;
}

.socials__link_google {
    background: url(../img/google.png) no-repeat;
    background-position: center;
}

.socials__link_twitter {
    background: url(../img/twitter.png) no-repeat;
    background-position: center;
}

.socials__link_mail {
    background: url(../img/mail.png) no-repeat;
    background-position: center;
}

.socials__link:hover {
    background-color: #ec1e79;
}

.socials__link {
    border-radius: 50%;
    background-color: #d4d4d8;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    transition: .4s;
    display: inline-block;
}

.socials__item {
    display: inline-block;
}

.copyright {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    width: 264px;
}

.copyright__link {
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}